In [4]:
#append()   to add  mew value to list
#insert() to add value with index
a=[]
a.append("string")
a.append(2)
a.append(1.1)
a.insert(2,"dog")
a.insert(-1,"gg")
print(a)

['string', 2, 'dog', 'gg', 1.1]

In [5]:
# l =[]
# n = int(innput("enter n "))
# for i in range(n):
#     x = int(input("enter x = "))
#     l.append(x)
# print("the list is= ",l)
# print("the sum is= ",sum(l) )
# print("the max value=",max(l))
# print("the min value=",min(l))

In [7]:
#del() can delete multiple value,accepts mutiple arguments and delete a list
#remove() delete single  value
#pop()delete from frst list and  to move to diff list
#clear() clearalldata from list
a=[1,2,3,4,"apple","dog,5,6"]
del a[0:2]
print(a)

[3, 4, 'apple', 'dog,5,6']

In [8]:
a=[1,2,3,4,"apple","dog,5,6"]
a.remove("apple")
print(a)

[1, 2, 3, 4, 'dog,5,6']

In [10]:
a=[1,2,3,4,"apple","dog,5,6"]
b = a.pop(5)
print(b)
print(a)

dog,5,6
[1, 2, 3, 4, 'apple']

In [11]:
a=["apple","ball","apple","cat","apple"]
a.remove("apple")
a.remove("apple")
a.remove("apple")
print(a)

['ball', 'cat']

In [12]:
a=["apple","ball","apple","cat","apple"]
# n=a.count(a)
for i in a:
    a.remove("apple")

print(a)

['ball', 'cat']

In [14]:
a=["apple","ball","apple","cat","apple"]
n=a.count("apple")
for i in range(n):
    a.remove("apple")

print(a)

['ball', 'cat']

In [15]:
b=[]
a=["apple","ball","apple","cat","apple"]
for i in a:
    if i == "apple":
        continue
    b.append(i)

print(b)

['ball', 'cat']

In [16]:
b=[]
a=["apple","ball","apple","cat","apple"]
n =len(a)
for i in range(n):
    if a[i] == "apple":
        continue
    b.append(a[i])

print(b)

['ball', 'cat']

In [17]:
#list inside  list
a=[[1,2,3],[4,5,6],[7,8,9]]
type(a)
len(a)

3

In [22]:
data=[]
n=int(input("enter n "))
for i in range(1,n+1):
    name=input("ente name ")
    age = input("enterage  ")
    add = input("enter address ")
    info = [i,name,age,add]
    data.append(info)
    
print(data)

enter n 2
ente name ee
enterage  3
enter address rr
ente name tt
enterage  4
enter address yy
[[1, 'ee', '3', 'rr'], [2, 'tt', '4', 'yy']]

In [23]:
sn=int(input("enter sn "))
data[sn-1]

enter sn 1

[1, 'ee', '3', 'rr']

In [25]:
a=[1,2,3,4,5]
a.clear()
print(a)

[]

In [26]:
a=[1,2,3,4,5]
del a[:]
print(a)

[]

In [1]:
a=[1,2,3,4,5]
del a

In [2]:
a=[[1,2,3],[4,5,6]]
b=[[7,8,9]]
print(a+b)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
a=[[1,2,3],[4,5,6]]
a*2

[[1, 2, 3], [4, 5, 6], [1, 2, 3], [4, 5, 6]]

In [1]:
#### create list in list wuth user input
data=[]
n=int(input("enter n "))
for i in range(1,n+1):
    name=input("ente name ")
    age = input("enter age  ")
    add = input("enter address ")
    info = [[i,name,age,add]]
    data = data+info
    
print(data)

enter n 2
ente name ee
enter age  4
enter address tt
ente name rr
enter age  5
enter address yy
[[1, 'ee', '4', 'tt'], [2, 'rr', '5', 'yy']]

In [2]:
sn=int(input("enter sn "))
data[sn-1]

enter sn 2

[2, 'rr', '5', 'yy']

In [3]:
search=input("enter value to search ")
for i in data:
    if search in i:
        print(i)
        print("yes")

enter value to search rr
[2, 'rr', '5', 'yy']
yes

In [6]:
#rpted value search
data=[[1, 'ee', '4', 'tt'], [2, 'rr', '5', 'yy'],[1, 'ee', '6', 'zz']]
search=input("enter value to search ")
for i in data:
    if search in i:
        print(i)
print("yes")

enter value to search ee
[1, 'ee', '4', 'tt']
[1, 'ee', '6', 'zz']
yes

In [9]:
data=[]
allTotal=0
n=int(input("enter n "))
for i in range(1,n+1):
    name=input("ente name ")
    price = int(input("enter price  "))
    quantity = int(input("enter quantity "))
    total=price*quantity
    info =[i,name,price,quantity,total]
    allTotal=allTotal+total
    data.append(info)
print(data)
print(allTotal)

enter n 2
ente name ee
enter price  10
enter quantity 2
ente name rr
enter price  20
enter quantity 4
[[1, 'ee', 10, 2, 20], [2, 'rr', 20, 4, 80]]
100

In [8]:
#delete
search=input("enter value to search ")
for i in data:
    if search in i:
        data.remove(i)
print(data)

enter value to search ee
[[2, 'rr', 50, 4]]

In [10]:
#update
a=[[1, 'ee', 10, 2, 20], [2, 'rr', 20, 4, 80]]
q=int(input("enter new quantity "))
i=int(input("enter index "))
a[i][3]=q
price=a[i][2]
newTotal=price*q
a[i][4]=newTotal

enter new quantity 3
enter index 0

In [11]:
print(a)

[[1, 'ee', 10, 3, 30], [2, 'rr', 20, 4, 80]]

In [2]:
#update with auto index
a=[[1, 'ee', 10, 2, 20], [2, 'rr', 20, 4, 80]]
search =input("enter name ")
for i in range(len(a)):
    if search in a[i]:
        index = i
q=int(input("enter new quantity "))
a[index][3]=q
price=a[index][2]
newTotal=price*q
a[index][4]=newTotal
print(a)

enter name ee
enter new quantity 4
[[1, 'ee', 10, 4, 40], [2, 'rr', 20, 4, 80]]