In [1]:
# set
# mutable-add,update
# unordered
# no indexing
# noduplicate
#is defined by curly bracket but cannotbe empty

In [2]:
a={"apple","Ball",1,2,22.22,"1bb"}
a

{1, '1bb', 2, 22.22, 'Ball', 'apple'}

In [3]:
a={1,1,2,2,3,3}
a

{1, 2, 3}

In [4]:
a={1,1,2,2,3,3}
b=set(a)
a=list(b)
a

[1, 2, 3]

In [5]:
a=set()
a.add(1)
a.add(2)
a.add(3)
a

{1, 2, 3}

In [9]:
a=set("python")
b=list("python")
c=tuple("python")
print(b)
print(c)
print(a)

['p', 'y', 't', 'h', 'o', 'n']
('p', 'y', 't', 'h', 'o', 'n')
{'o', 'y', 'h', 'p', 't', 'n'}

In [10]:
a=set()
n=int(input("enter num "))
for i in range(n):
    x=int(input("enter  n "))
    a.add(x)
print(a)

enter num 3
enter  n 1
enter  n 2
enter  n 3
{1, 2, 3}

In [12]:
a={1,2,3}
b={4,5,6,"aa"}
a.update(b)
print(a)

{1, 2, 3, 'aa', 4, 5, 6}

In [14]:
a={1,3,4}
a.remove(3)
print(a)

{1, 4}

In [15]:
a={"aa","bb","cc"}
b={"bb","cc","dd"}

In [16]:
a.intersection(b)

{'bb', 'cc'}

In [17]:
a.union(b)

{'aa', 'bb', 'cc', 'dd'}

In [18]:
a.difference(b)

{'aa'}

In [19]:
b.difference(a)

{'dd'}

In [21]:
a={1,2,3,4}
b={4,5,6}
a.isdisjoint(b)

False

In [22]:
a={1,2,3,4,5}
b={1,2,3}
b.issubset(a)

True

In [24]:
a={1,2,3,4,5}
b={1,2,3}
a.issuperset(b)

True

In [29]:
a={1,2,3,4,5,6,7,8,9}
b={1,2,3,4,5}
c={4,5,6,7}
un=b.union(c)
a.difference(un)

{8, 9}