In [1]:
# file

In [2]:
# b = open('<File_name>','<modes>')

In [5]:
try:
    b = open('class8am.txt','x')
except:
    print("The file already exists.")
b.close()

The file already exists.

In [6]:
b = open('class8am.txt','r')
print(b.read())
b.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World

In [11]:
b = open('class8am.txt','r')
c = b.read()
print(type(c))
print(c)
b.close()

<class 'str'>
1.Hello World
2.Hello World
3.Hello World
4.Hello World

In [12]:
b = open('class8am.txt','a')
b.write('5.Hello World')
b.close()

In [13]:
s = ""
n = int(input("Enter the value of n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    info = f"{name} {age} {add}\n"
    s = s+info
b = open('data.txt','a')
b.write(s)
b.close()

Enter the value of n = 2
Enter name = Ram
Enter age = 67
Enter address = Kathmandu
Enter name = Hari
Enter age = 67
Enter address = KAthmandu

In [20]:
s = ""
b = open('data.csv','w')
b.write("Name,Age,Address\n")
n = int(input("Enter the value of n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    info = f"{name},{age},{add}\n"
    s = s+info

b.write(s)
b.close()

Enter the value of n = 2
Enter name = Ram
Enter age = 34
Enter address = Kathmandu
Enter name = Shyam
Enter age = 45
Enter address = Patan

In [21]:
b = open('data.csv','r')
c = b.read()
print(c)
b.close()

Name,Age,Address
Ram,34,Kathmandu
Shyam,45,Patan

In [22]:
d = c.split('\n')
print(d)
e = d[0:-1]
print(e)

['Name,Age,Address', 'Ram,34,Kathmandu', 'Shyam,45,Patan', '']
['Name,Age,Address', 'Ram,34,Kathmandu', 'Shyam,45,Patan']

In [23]:
data = []
for i in e:
    x = i.split(',')
    data.append(x)
print(data)

[['Name', 'Age', 'Address'], ['Ram', '34', 'Kathmandu'], ['Shyam', '45', 'Patan']]

In [26]:
import os
try:
    os.remove('data.csv')
except:
    print("There is no such file")

There is no such file

In [33]:
import shutil as s
src = 'data.txt'
dest = '../Desktop/my_data.txt'
s.copy(src,dest)

'../Desktop/my_data.txt'