In [1]:
# dict {}
# indexed
# ordered
# duplicate value
# mutable
#a= {<key>:<value>,<key>:<value>}   key as index
#key must be unique value, if same key last value is assigned
#tuple can be key becuse its imutable, mutable data type can not be key

In [2]:
a={}
type(a)

dict

In [6]:
a={"a":"apple","b":"ball"}
b={1:"apple",2:"ball"}
c={"a":"apple","b":"ball","A":"apple"}
print(a)
print(a["a"])
print(b[2])
print(c)

{'a': 'apple', 'b': 'ball'}
apple
ball
{'a': 'apple', 'b': 'ball', 'A': 'apple'}

In [7]:
a={}
a["ram"]=90890
a["shyam"]=98000
a["hari"]=88888
print(a)

{'ram': 90890, 'shyam': 98000, 'hari': 88888}

In [9]:
a={}
n=int(input("enter n "))
for i in range(n):
    name=input("enter name ")
    phn=int(input("enter phn num "))
    a[name]=phn
print(a)

enter n 2
enter name yy
enter phn num 9808
enter name uu
enter phn num 9090
{'yy': 9808, 'uu': 9090}

In [11]:
for i in a:  #key
    print(i)

yy
uu

In [13]:
for i in a.values():  #value
    print(i)

9808
9090

In [15]:
for i in a.items():  #both key and value
    print(i)

('yy', 9808)
('uu', 9090)

In [16]:
z=[]
for i in a.items():
    z.append(i)
print(z)

[('yy', 9808), ('uu', 9090)]

In [17]:
d={}
for i in z:
    key=i[0]
    value=i[1]
    d[key]=value
d

{'yy': 9808, 'uu': 9090}

In [19]:
d={('a','A'):"apple"}
d

{('a', 'A'): 'apple'}

In [20]:
#list inside dict....,  values indexing is automated
e={"ram":[984999,980399],"shyam":[985100,981899]}
e

{'ram': [984999, 980399], 'shyam': [985100, 981899]}

In [21]:
# a={}
# n=int(input("enter num "))
# for i in range(n):
#     name=input("enter name ")
#     phn=input("enter phn num")

In [22]:
name=input("enter name ")
phn=int(input("enter 0 for ntc 1 for ncell "))
print(e[name][phn])

enter name ram
enter 0 for ntc 1 for ncell1
980399

In [23]:
e["ram"][0]=988888      #update
e

{'ram': [988888, 980399], 'shyam': [985100, 981899]}

In [24]:
del e["ram"][0]        #delete
e

{'ram': [980399], 'shyam': [985100, 981899]}

In [26]:
e["ram"].append(98888)
e

{'ram': [980399, 98888, 98888], 'shyam': [985100, 981899]}

In [27]:
d={'ram': [980399], 'shyam': [985100, 981899]}
d["ram"].insert(0,98888)
d

{'ram': [98888, 980399], 'shyam': [985100, 981899]}

In [21]:
data={'ram': [988888, 980399], 'shyam': [985100, 981899]}
search=input("enter value to search ")
for i in data.items():
    if search in i:
        print("yes")
    else:
        print("no")

enter value to search 980399
no
no